:root {
  --darker: #16171a;
  --dark: #26272b;
  --light: #fff;
}
body {
  background-color: var(--dark);
  color: var(--light);
  font-family: monospace;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
}
main {
  max-width: 75rem;
  margin: 10vh auto;
  padding: 0 2rem;
}
header {
  background: var(--darker);
  color: var(--light);
  height: 15vh;
  padding-left: 5.5em;
  padding-right: 5.5em;
  border-bottom: solid 1px var(--light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 4vw;
  letter-spacing: -0.04em;
}
h2 {
  font-size: 2em;
  margin-top: 1.5em;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0 -1rem;
}

ul li {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

#usage li {
  border: solid 1px var(--light);
  background-color: var(--darker);
  padding: 0.5em;
}

#coreItem li {
  width: 45%;
}

#codeBlock li {
  padding: 1em;
  margin-bottom: 3em;
  height: 100%;
  background-color: var(--darker);
  border: 1px solid var(--light);
}

#ifElseFormat {
  padding-left: 1.2em;
}

#format {
  padding-left: 1.5em;
}

#format2 {
  padding-left: 2.5em;
}

ul img {
  border: 2px solid var(--light);
  margin-top: 2em;
  margin-bottom: 2em;
}
img {
  max-width: 25vw;
  max-height: 25vw;
  min-width: 20vw;
  min-height: 20vw;
}

ul#usage {
  width: 90%;
}
section#lecturers img {
  border-radius: 100%;
  margin-right: 1em;
}
section#references {
  line-height: normal;
}

.button {
  background: var(--light);
  color: var(--dark);
  padding: 1em;
}
A .examples img {
  max-width: 25vh;
}

a,
a:visited {
  color: var(--course);
}

footer {
  font-style: italic;
  text-align: center;
}
