<section>
  <form action="/loginAdmin" method="POST" autocomplete="on">
    <input
      type="text"
      name="username"
      id="username"
      placeholder="username"
      value="admin"
      required
    />

    <input type="password" name="pw" id="id" value="0000" required />
    <button type="submit">Login</button>
  </form>
</section>
