<section>
  <form action="/startEnquete" method="POST" autocomplete="on">
    <legend>Vul het formulier naar eigen waarheid in. Bedankt Alvast</legend>
    <label for="firstName">Voornaam</label>
    <input type="text" name="firstName" />

    <label for="lastName">Achternaam</label>
    <input type="text" name="lastName" />

    <label for="studentNumber">Studentnummer</label>
    <input type="number" name="studentNumber" />
    <label for="birthday">Verjaardag</label>
    <input type="date" name="dateOfBirth" />

    <button type="submit">submit</button>
  </form>
</section>
