<section>
  <h2>Vul de onderstaande velden in en druk op verzenden</h2>
  <form action="/startEnquete" method="POST" autocomplete="on">
    <fieldset>
      <label for="firstName"
        >Voornaam
        <input
          type="text"
          name="firstName"
          id="firstName"
          placeholder="Bijvoorbeeld: Stan"
      /></label>
    </fieldset>

    <fieldset>
      <label for="lastName"
        >Achternaam
        <input
          type="text"
          name="lastName"
          id="lastName"
          placeholder="Bijvoorbeeld: Ooms"
      /></label>
    </fieldset>
    <fieldset>
      <label for="studentNumber"
        >Studentnummer<input
          type="text"
          minlength="9"
          name="studentNumber"
          id="studentNumber"
          placeholder="Bijvoorbeeld: 500744003"
      /></label>
    </fieldset>
    <fieldset id="dateFieldset">
      <label for="yyyy">Geboortedatum</label>

      <label for="dd"></label>
      <input
        class="inputDateNumberElements"
        type="number"
        name="dd"
        placeholder="dd"
      />
      <label for="mm"></label>
      <input
        class="inputDateNumberElements"
        type="number"
        name="mm"
        placeholder="mm"
      />
      <input
        class="inputDateNumberElements"
        type="number"
        name="yyyy"
        placeholder="yyyy"
      />

      <input type="date" />
    </fieldset>

    <button type="submit">Verzenden</button>
  </form>
</section>
