<!DOCTYPE html>
<html>
  <head>
    <title>Finished || THNX!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./partials/backHome.ejs') %>
    <p>Enquete Minor Web</p>
    <h1>Bedankt voor je feedback <%= obj.firstName %></h1>
    <h2>Wil je nog een vak beoordelen?</h2>

    <a href="/startEnquete">
      <p>Klik dan hier</p>
    </a>
  </body>
</html>
