<%- include('./partials/head')%> <%- include('./partials/title')%>

<h2>Oops, je gebruikersinformatie is onjuist.</h2>
<p>Probeer het opnieuw</p>

<h3>Login as User</h3>
<%- include('./partials/startEnquete')%>
<br />
<h3>Login as Admin</h3>
<%-include('partials/loginAdminForm')%>
