<!DOCTYPE html>
<html lang="nl">
  <%- include('../partials/head.ejs') %>
  <body>
    <aside>
      <a href="/login"><h5>Admin Login</h5></a>
    </aside>

    <%- include('../partials/title.ejs') %>
    <p>Voordat je begint met de enquete. Laat ons even weten wie je bent:</p>
    <%- include('../partials/startEnquete.ejs') %>
    <script src="./javascripts/main.js" type="module"></script>
  </body>
</html>
