<!DOCTYPE html>
<html lang="nl">
  <%- include('../partials/head')%> <%- include('../partials/title')%>

  <body>
    <header>
      <h2>Oops, je gebruikersinformatie is onjuist.</h2>
      <p>Probeer het opnieuw</p>
    </header>

    <section>
      <h3>Login as User</h3>
      <%- include('../partials/startEnquete')%>
    </section>
    <script src="./javascripts/main.js" type="module"></script>
  </body>
</html>
