section#progressBarContainer {
  width: 100vw;
  height: 15px;
  background-color: grey;
  display: hidden;
  position: sticky;
  bottom: 0px;
  max-width: 300px;
}

var#progressBar {
  width: 0vw;
  height: 15px;
  background-color: green;
  position: absolute;
  transition: 0.3s;
  max-width: 300px;
}
section#progressBarContainer > p {
  color: white;
}
