body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  hyphens: auto;
}
#restartForm > input {
  position: absolute;
  margin-left: -100vw;
}
a {
  color: #00b7ff;
}

p {
  color: blue;
}
form > fieldset {
  display: flex;
  flex-direction: row;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
