h1 h2 h3 h4 h5 h6 span p a button:focus {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  max-width: 100vw;
}
h1 h2 h3 h4 h5 h6 {
  color: #473398;
}
a > h5 {
  color: #1230c4;
}

body {
  padding: 0;
  margin: 0;
  hyphens: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(208, 235, 208);
}
header {
  top: 20vh;
  left: 10px;
  display: flex;
  padding: 10px;
}
header > a {
  text-decoration: none;
  color: #1230c4;
}
fieldset {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px;
}
label {
  font-size: large;
  display: flex;
  flex-direction: column;
}
#restartForm > input {
  margin-left: -100vw;
}
#restartForm {
  border-bottom: 2px solid lightseagreen;
}
a {
  color: #00b7ff;
}
.date {
  font-size: small;
  color: black;
}
h3 {
  text-decoration: underline;
}
h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
p {
  color: black;
}
form > fieldset {
  display: flex;
  flex-direction: row;
  min-width: 300px;
}

.radioInputFieldset {
  justify-content: space-around;
}
button {
  padding: 5px;
  margin: 10px;
}
.rangeCounter {
  font-size: larger;
}
form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  align-items: center;
}
tbody {
  text-align: center;
}
table {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
}

details[open] {
  background-color: white;
}
details > ul > li > p {
  text-decoration: underline;
}

#dateFieldset {
  flex-direction: column;
}

#previousEnquetesMobile > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 10px;
  border-top: 2px solid lightseagreen;
  padding: 10px;
}
#previousEnquetesMobile > span {
}

@supports (display: grid) {
}

@media screen and (min-width: 600px) {
  /* show table, hide mobileUI */

  #previousEnquetesMobile {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  /* show mobileUI, hide Table*/
  #previousEnquetesTable {
    display: none;
  }
}
