body {
  padding: 0;
  margin: 0;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  hyphens: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  top: 20vh;
  left: 10px;
  z-index: -10;
  width: 30vw;
}
#restartForm > input {
  margin-left: -100vw;
}
a {
  color: #00b7ff;
}
#date {
  font-size: x-small;
  color: grey;
}

p {
  color: blue;
}
form > fieldset {
  display: flex;
  flex-direction: row;
}
form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 40vw;
}
tbody {
  text-align: center;
}
table {
  background-color: whitesmoke;
  width: 80vw;
}

details[open] {
  background-color: white;
}
